extends index

block content
  h1 #{pagina}

  if id
    p Ingrese el c贸digo: #{id}
  
    form(method="post", action=`/buscaProfesor/${id}`)
      button.btn(type="submit") Buscar Profesor

  else
    p Se necesita un c贸digo.

  form(method="get", action="/buscaProfesor")
    label(for="id") Ingrese el c贸digo:
    input(type="text", name="id", placeholder="C贸digo")
    button.btn(type="submit") Buscar